:root {

    /* COLOR */

    --white: #fff;
    --red-danger: #f12136;
    --blue-1: #0e63eb;
    --dark-blue: #2f3158;
    --darken-blue: #242546;
    --green-1: #87ebc7;
    --green-2: #147620ee;
    --light-gray: #f3f3f3;
    --gray: #fdfafa91;
    --testL: #9e8e64;
    --dull-gray: #cecaca84;
    --dark-gray: #27232374;
    --black: #0f0e0eed;

    /* TYPOGRAPHY */

    --fw-1: 500;
    --fw-2: 750;
    --fw-3: 800;

    --fs-1: 48px;
    --fs-2: 35px;
    --fs-3: 18px;
    --fs-4: 13px;
    --fs-5: 11px;


    --ff-poppins: 'poppins', sans-serif;
    --ff-Montserrat: 'Montserrat', sans-serif;
    --ff-Roboto: 'Roboto', sans-serif;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    color: #30b584;
    font-size: 12px;
}

a,
img,
span,
input,
button {
    display: block;
}

button {
    border: none;
    background: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
    border: none;
    outline: none;
}

select {
    border: none;
}

html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    height: 300vh;
    overflow-x: hidden;
    font-family: var(--ff-poppins);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 75%);
}

.h1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-3);
    line-height: 1.1;
    font-family: var(--ff-Roboto);
}

.h2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    font-family: var(--ff-poppins);
}

.h3 {
    font-size: var(--fs-3);
    line-height: 1.5;
    font-weight: var(--fw-1);
    font-family: var(--ff-poppins);
}

.h4 {
    font-size: var(--fs-4);
    line-height: 1.7;
    font-family: var(--ff-poppins);
}

.h5 {
    font-size: var(--fs-5);
    line-height: 1.7;
    font-family: var(--ff-poppins);
}



.container {
    padding: 3% 5%;
}


.header {
    background: var(--gray);
    padding-block: 5px;
    height: 88px;
    overflow: hidden;
    transition: 0.25s var(--cubic-out)
}

.header.active {
    height: 325px;
    transition-duration: 0.35s;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .container .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    gap: 200%;
}

.h-logo {
    color: var(--green-2);
    font-family: var(--ff-Montserrat);
}

.nav-toggle-btn.active .open,
.nav-toggle-btn .close {
    display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
    display: block;
}

.nav-icon {
    color: var(--green-2);
    font-size: 35px;
    text-align: right;
}

.navbar {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.header.active .navbar {
    display: block;
    opacity: 1;
    visibility: visible;

}


.navbar-list {
    margin-bottom: 15px;
}

.navbar-list .btn {
    border-radius: 20px;
    width: 100%;
    padding: 10px 35px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: var(--fw-1);
}

.navbar-list .btn.btn-login {
    border: 2px solid var(--green-2);
    background: var(--white);
    color: var(--green-2);
}


.navbar-list .btn.btn-login:is(:hover, :focus) {
    border: 3px solid var(--white);
    background: var(--green-2);
    color: var(--white);
}

.navbar-list .btn.btn-signup {
    background: var(--green-2);
    color: var(--white);
}

.navbar-list .btn.btn-signup:is(:hover, :focus) {
    opacity: 0.7;
}

.navbar-link {
    color: var(--black);
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    padding-block: 10px 0;
    border-bottom: 2px solid transparent;
    width: max-content;
    margin-bottom: 15px;
}

.navbar-link:is(:hover, :focus) {
    border-color: var(--white);
}

.h-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}

.h-text {
    text-align: center;
}

.h-text h2 {
    padding: 15px 2px;
}

.h-text p {
    color: var(--dark-gray);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    height: 100%;
    width: 320px;
    padding: 10% 6%;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.form-send label,
.form-recipient label,
.l-form-container label {
    display: block;
    text-align: left;
    padding: 4px;
}

.input-select img {
    width: 23px;
    height: 23px;
}

.input-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.input-select select {
    background-color: transparent;
    font-weight: 600;
    margin: 0 -5px 0 5px;
    outline: none;
    width: auto;
}

.input-select select::-webkit-scrollbar {
    width: 8px;
}

.input-select select::-webkit-scrollbar-track {
    background: #fff;
}

.input-select select::-webkit-scrollbar-thumb {
    background: #4e6e81;
    border-radius: 8px;
    border-right: 2px solid #fff;
}

form p,
.form-send label,
.form-recipient label {
    color: var(--dark-gray);
    font-weight: var(--fw-1);
}

.form-send .amount-sub,
.form-recipient .reci-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--dull-gray);
    margin-bottom: 10px;
}

.f-delivery,
.fee,
.transfer,
.to-pay,
.r-gets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fee span,
.transfer span,
.to-pay span,
.r-gets span {
    font-weight: var(--fw-3);
}

.minMaxSend {
    color: var(--red-danger);
}

.f-delivery select {
    border: 2px solid #cec7c7;
    border-radius: 18px;
    padding: 8px;
    outline: none;
}

.voucher {
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #30b584;
}

.voucher p {
    color: #30b584;
    font-weight: var(--fw-2);

}

.btn-form {
    border: none;
    background: var(--dark-gray);
    color: var(--white);
    border-radius: 20px;
    width: 100%;
    padding: 10px 15px;
    letter-spacing: 0.1rem;

}

.btn-form.active {
    border: 2px solid var(--green-2);
    background: var(--green-2);
}

.h-icon {
    display: flex;
    flex-direction: row;
}

#login-form {
    margin: auto;
    height: 100%;
    width: 70%;
}

#login-form h2 {
    text-align: left;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-content ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.l-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.l-email {
    width: 100%;
}

.l-email label {
    color: var(--dark-gray);
}

.l-email input {
    padding: 6px 15px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--dull-gray);
}

.btn-form-login {
    border: 2px solid var(--green-2);
    background: var(--green-2);
    color: var(--white);
    border-radius: 20px;
    width: 100%;
    padding: 8px 15px;
}


.btn-form-login:is(:hover, :focus) {
    border: 3px solid var(--white);
    background: var(--green-2);
    color: var(--white);
}

.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.login-links a {
    width: 100%;
    color: var(--white);
}

.link-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.link-text img {
    width: 17px;
    height: 17px;
}

.l-google {
    background: var(--blue-1);
    border-radius: 20px;
    padding: 8px 15px;
}

.l-google p {
    color: var(--white);
}

.l-apple {
    border: 3px solid var(--black);
    border-radius: 20px;
    padding: 8px 15px;
}


/*  to refactor this code ( div and a )
.l-apple:is(:hover, :focus){
    background: var(--black);
}


.l-small p::before{
    content: "";
    border: 1px solid var(--blue-1);
}

.l-small p::after{
    content: "";
    border: 1px solid var(--blue-1);
}



*/

.l-apple p,
.text p,
.l-small p {
    font-weight: var(--fw-2);
    color: var(--black);
}


.text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--green-2);
}

.text a {
    color: var(--green-2);
}

.text a:is(:hover, :focus),
.terms a:is(:hover, :focus) {
    text-decoration: underline;
}

.signup-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    color: var(--black);
}

.signup-text p {
    color: var(--black);
}

.terms p {
    color: var(--black);
}

.terms a {
    display: inline-block;
    color: var(--green-2);
}


#Home,
#get-started,
#recipient {
    background: var(--gray);
}


.gs-h-icon {
    width: 150px;

}

.gs-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gs-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.gs-item {
    font-size: 15px;
}

.gs-phone-img {
    width: 220px;
    padding: 30% 2%;
}

#send,
#recipient {
    padding-top: 130px;
}

.list-img {
    width: 70px;
    height: 70px;
}

.s-content h2,
.r-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.s-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.s-list-content {
    padding: 2px 20px;
}

.s-list-item h3 {
    font-weight: var(--fw-2);
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-a {
    object-fit: cover;
}

.img-a .s-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.se-content {
    color: white;
    background: black;
    width: 100%;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.se-content .h2 {
    width: 70%;
}

.se-content .h4 {
    width: 90%;
}

#FAQ {
    background: var(--light-gray);
}

.f-content h2 {
    text-align: center;
}

.question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s ease-in-out;
    padding: 2px 1px;
}

.f-icon {
    font-size: 1.1rem;
    color: #59b95f;
    transition: transform 0.5s ease-in-out;
    position: absolute;
}

.f-icon.active {
    display: none;
}

.answer {
    color: #5c5c5c;
    padding: 10px;
    padding-left: 12px;
    padding-bottom: 12px;
    overflow: hidden;
}

.faq-accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    border: none;
    transition: 0.4s;
    border-bottom: 2px solid #c8c8c8;
    padding: 15px 4px;
}

.answer-wrapper {
    display: none;
}

.icon-expend {
    transform: rotateX(180deg);
    transition: transform 0.75s ease-in-out;
}

.active,
.faq-accordion:hover .question-wrapper {
    background-color: #ebebeb;
}

.active p,
.faq-accordion:hover .question-wrapper p {
    color: #3d3d3d;
}

footer {
    background: var(--dull-gray);
}

.footer-top {
    border-bottom: 2px solid #c8c8c8;

}

.ft-text {
    margin-bottom: 15px;
}

.ft-links {
    display: grid;
    color: #5c5c5c;
    grid-template-columns: repeat(2, 1fr);
}

.ft-list-item {
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.ft-list-item:is(:hover, :focus) {
    text-decoration: underline;
}

.sub {
    font-weight: var(--fw-2);
}

.footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5% 2%;
    border-bottom: 2px solid #c8c8c8;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socials a {
    color: var(--dark-gray);
}

.socials a:is(:hover, :focus) {
    text-decoration: underline;
}

.footer-bottom {
    padding: 5% 0%;
}

.copyright {
    padding: 10px 2px;
    font-weight: var(--fw-2);
}

.footer-text {
    color: var(--dark-gray);
}









@media only screen and (min-width: 768px) {
    .container {
        max-width: 868px;
    }

    .nav-toggle-btn {
        display: none;
    }

    .header,
    .header.active {
        height: unset;
    }

    .navbar {
        all: unset;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .navbar-list {
        margin-bottom: 0;
        margin-inline: auto;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .navbar-link {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .h-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }


    .gs-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 20px;
    }

    .gs-text {
        width: 420px;
    }

    .s-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .se-content {
        padding: 2% 13%;
    }

    .se-content .h2 {
        width: 70%;
    }

    .se-content .h4 {
        width: 77%;
    }

    .ft-links {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-mid {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 3% 0%;
    }

    .footer-bottom {
        padding: 3% 0%;
    }

}

@media only screen and (min-width: 900px) {
    .container {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 3% 2%;
        max-width: 1200px;
    }

    header {
        width: 100%;
    }

    .nav-toggle-btn {
        display: none;
    }

    .header,
    .header.active {
        height: unset;
    }

    .navbar {
        all: unset;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .navbar-list {
        margin-bottom: 0;
        margin-inline: auto;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .navbar-link {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .h-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .h-text {
        width: 620px;
    }

    .s-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .gs-phone-img {
        width: 370px;
        padding: 20% 2%;
    }

    .gs-text {
        width: 520px;
    }

}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }

    .nav-toggle-btn {
        display: none;
    }

    .header,
    .header.active {
        height: unset;
    }

    .navbar {
        all: unset;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .navbar-list {
        margin-bottom: 0;
        margin-inline: auto;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .navbar-link {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .gs-phone-img {
        width: 470px;
        padding: 20% 2%;
    }

    .gs-text {
        width: 760px;
    }

    .gs-h-icon {
        width: 180px;

    }
}